* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
    background-color: aquamarine;
}
header h2 {
    background-color: rgb(25, 123, 90);
}
header button {
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 7px;
    width: max-content;
}
/* CALENDAR CONTENT */
.main-content{
    width: 90%;
    margin: 0 auto;
}

.flex-container-month-layout{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.flex-container-month-layout ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.flex-container-month-layout ul li{
    width: calc(100%/7);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 40%;
    padding: 2px;
}

.days-container li {
    min-height: 60px;
}

.weekday-names li {
    height: 20px;
    min-width: fit-content;
    justify-content: center;
    align-content: center;
}

/* BORDERS */
.main-content {
    border: 1px solid rgb(150, 150, 150);
    border-radius: 2px;
    padding: 10px;
}

.weekday-names {
    border-bottom: 1px solid rgb(55, 55, 55);
    border-top: 1px solid rgb(55, 55, 55);
}

.weekday-names li {
    border-right: 1px solid rgb(55, 55, 55);
}

.weekday-names li:first-child {
    border-left: 1px solid rgb(55, 55, 55);;
}

.days-container li:nth-child(1), .days-container li:nth-child(2), .days-container li:nth-child(3), .days-container li:nth-child(4), .days-container li:nth-child(5), .days-container li:nth-child(6), .days-container li:nth-child(7){
    border-top: none;
}

.days-container li{
    border: 1px solid  rgb(197, 197, 197);
}

/* CALENDAR HEADER */
.header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

.header h3 {
    display: flex;
}

.header button {
    border: none;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

/* New event button in each day */
.day-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
}
.new-event-day {
    font-size: 7px;
    text-align: center;
    padding: 1px;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%);
    width: 50%;
}

.new-event-day-hidden {
    display: none;
}
/* MODAL WINDOW */
.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-modal{
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 20px;
    border: 1px grey solid;
    margin: 50px auto;
    display: block;
    z-index: 1;
    position: fixed;
    right: 50%;
    transform: translate(50%); 
    background-color: white;/* Black w/ opacity */
  }
}
.x-btn{
    display: flex;
    justify-content: flex-end;
}
.container-modal h2{
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

fieldset{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.form-check{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    border-bottom: 2px solid #c5ecfd;
    padding: 3px 10px;
}

fieldset input{
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #c5ecfd;
}
.form-description{
    border: 2px solid #c5ecfd;
    height: 50px;
}
.select-form{
    gap: 10px;
}
.select-form select {
    border:2px solid #c5ecfd;
    padding: 5px;
}
.botones{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
}
.button-form{
    width: 100px;
    margin-right: 10px;
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
}
.button-form:last-child{
    margin-right: 0;
    
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

