* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
.currentDay{
    background-color: lightgray;
    color: white;
}
.container{
    max-width: 1200px;
    margin: 50px auto 0 auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container-modal h2{
    font-size: 20px;
    font-weight: 500;
}
.container-calendar{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
        ;
    padding: 10px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
/* HEADER */
header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 10px;
    position: relative;
    background-color: white;
}
header h2 {
    font-weight: 700;
    font-size: 30px;
}

/* CALENDAR CONTENT */
.header{
    border-radius: 100px;
    height: 50px;
    display: flex;
    align-items: center;
}
.header h3{
    min-width: 150px;
}
.header h3 p{
    font-weight: 700;
    font-size: 30px;
}
.month{
    font-weight: 700;
    font-size: 30px;
}
.year{
    font-weight: 700;
    font-size: 30px;
}
.main-content{
    margin: 0 auto;
    background-color: white;
    padding: 0;
}
.flex-container-month-layout{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.flex-container-month-layout ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}

.flex-container-month-layout ul li{
    width: calc(100%/7);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    padding: 2px;

}

.days-container li {
    min-height: 60px;
}

.weekday-names li {
    height: 20px;
    min-width: fit-content;
    justify-content: center;
    align-content: center;
}

/* BORDERS */
.main-content {
    margin-top: 10px;
    margin: 10px 10px;
    border-radius: 20px;
    padding: 20px;
}

.weekday-names {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.weekday-names li {
    border-right: 1px solid lightgray;
}

.weekday-names li:first-child {
    border-left: 1px solid lightgray;
}

.days-container li:nth-child(1), .days-container li:nth-child(2), .days-container li:nth-child(3), .days-container li:nth-child(4), .days-container li:nth-child(5), .days-container li:nth-child(6), .days-container li:nth-child(7){
    border-top: none;
}

.days-container li{
    border-right: 1px solid  lightgray;
    border-bottom: 1px solid  lightgray;
    border-left: 1px solid lightgray;
}



/* CALENDAR HEADER */
.header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

.header h3 {
    display: flex;
    margin-right: 20px;
}

.month-button {
    border: none;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
.month-date{
    display: flex;
}
.add-button{
    background-image: linear-gradient(to right, #B721FF 0%, #66c0ea 51%, #B721FF 100%);    
    border-radius: 30px;
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    transition: 0.4s;
    background-size: 200% auto;
    color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
}
.add-button:hover{
    background-position: right center;
}
/* New event button in each day */
.day-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
}
.new-event-day {
    font-size: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%);
    width: 50%;
    background-color: black;
    border-radius: 30px;
    color: white;
    border: none;
    padding: 3px 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.new-event-day-hidden {
    display: none;
}
/* MODAL WINDOW */
.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.container-modal{
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 20px;
    border: 1px lightgray solid;
    margin: 50px auto;
    z-index: 1;
    position: fixed;
    right: 50%;
    transform: translate(50%);
    background-color: white;/* Black w/ opacity */
    border-radius: 20px;
  }

.x-btn{
    display: flex;
    justify-content: flex-end;
}
.container-modal h2{
    text-align: center;
    font-weight: 300;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

fieldset{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.form-check{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    border-bottom: 2px solid #FFDEE9;
    padding: 3px 10px;
}

fieldset input{
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #FFDEE9;
}
.form-description{
    border: 2px solid #FFDEE9;
    height: 50px;
}
.select-form{
    gap: 10px;
}
.select-form select {
    border:2px solid #FFDEE9;
    padding: 5px;
}
.botones{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
}
.button-form{
    width: 100px;
    margin-right: 10px;
    background-image: linear-gradient(to right, #B721FF 0%, #66c0ea 51%, #B721FF 100%);    
    text-align: center;
    padding: 10px;
    border-radius: 400px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    text-transform: uppercase;
    transition: 0.3s;
    background-size: 200% auto;

}
.button-form:hover{
    background-position: right center;
}
.button-form:last-child{
    margin-right: 0;
    
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

  /* EVENT MODAL */

.eventModal{
    display: none;
}
.closeEvent{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeEvent:hover, .closeEvent:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Calendar events */

.calendar-event {
    background-color: aquamarine;
    cursor: pointer;
}
