* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

.flex-container-month-layout{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.flex-container-month-layout ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.flex-container-month-layout ul li{
    width: calc(100%/7);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 40%;
    padding: 2px;
}

.days-container li {
    min-height: 60px;
}

.weekday-names li {
    height: 20px;
    min-width: fit-content;
    justify-content: center;
    align-content: center;
}

/* BORDERS */
.flex-container-month-layout {
    border: 1px solid rgb(150, 150, 150);
    border-radius: 2px;
}

.weekday-names {
    border-bottom: 1px solid rgb(55, 55, 55);
    border-top: 1px solid rgb(55, 55, 55);
}

.weekday-names li {
    border-right: 1px solid rgb(55, 55, 55);
}

.weekday-names li:first-child {
    border-left: 1px solid rgb(55, 55, 55);;
}

.days-container li:nth-child(1), .days-container li:nth-child(2), .days-container li:nth-child(3), .days-container li:nth-child(4), .days-container li:nth-child(5), .days-container li:nth-child(6), .days-container li:nth-child(7){
    border-top: none;
}

.days-container li{
    border: 1px solid  rgb(197, 197, 197);
}